<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Welcome! | Chef Delivery{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/prettyPhoto.css') }}" rel="stylesheet">
            <link href="{{ asset('css/price-range.css') }}" rel="stylesheet">
            <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
            <link href="{{ asset('css/main.css') }}" rel="stylesheet">
            <link href="{{ asset('css/responsive.css') }}" rel="stylesheet">

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('cart.ico') }}" />
    </head><!--/head-->

    <body>

        {% block body %}

            <header id="header" style="border:0px solid; background:#000000;"><!--header-->

                <div class="header-middle"><!--header-middle-->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="logo pull-left">
                                    <a href="{{path('su_front_office_homepage') }}"><img src="{{ asset('images/home/logo.png') }}" alt="" /></a>
                                </div>

                            </div>
                            <div class="col-sm-8">
                                <div class="shop-menu pull-right">
                                    <ul class="nav navbar-nav">

                                        {% for entity_cate_val in entity_cate %}
                                            {# <p>{{ entity_cate_val.catName }} </p>#}
                                            <li><a href="{{path('front_office_user_dishesbycat', {'id': entity_cate_val.categoryId})  }}">{{ entity_cate_val.catName }}</a></li>

                                        {% endfor %}



                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/header-middle-->

                <div class="header-bottom"><!--header-bottom-->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="col-sm-3">
                                    <div class="search_box pull-left">
                                        <input type="text" placeholder="Search" id="myTextField"/>
                                        <div id="match" style="border: 0px solid #fff;"></div>
                                    </div>
                                </div>
                                <div class="mainmenu pull-right">
                                    <ul class="nav navbar-nav collapse navbar-collapse">
                                        <li> <a href="{{ path('front_office_user_stores') }}"  class="active"> Stores</a> </li>
                                        <li> <a href="{{ path('front_office_user_homepage') }}"  class="active"> Dish Categories</a> </li>
                                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                            <li class="dropdown">
                                                <a 
                                                    {% if is_granted('ROLE_ADMIN') %}
                                                        href="{{ path('client') }}"
                                                    {% endif %}
                                                ><i class="fa fa-angle-down"></i>
                                                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                                                </a>
                                                <ul role="menu" class="sub-menu">
                                                    <li><a href="{{ path('front_office_user_basket') }}"><i class="fa fa-shopping-cart" style="font-size: 22px; margin-top: -3px;"></i>
                                                            My Cart&nbsp;&nbsp;
                                                            {% if num_cart_items > 0 %}
                                                                <div class="cart_circle">
                                                                    {{ num_cart_items }}
                                                                </div>
                                                            {% endif %}
                                                        </a></li>
                                                        {#    <li><a href="{{ path('client') }}"><i class="fa fa-users"></i>Admin Panel</a></li>#}
                                                    <li><a href="#"><i class="fa fa-star"></i> My Favorites</a></li>
                                                    <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i> My Account</a></li>
                                                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-lock"></i> Logout</a></li>
                                                </ul>
                                            </li>
                                        {% else %}
                                            <li><a href="{{ path('fos_user_security_login') }}" class="active"><i class="fa fa-lock"></i> Login </a></li>
                                            <li><a href="{{ path('front_office_user_basket') }}" ><i class="fa fa-shopping-cart" style="font-size: 22px; margin-top: -3px;"></i>
                                                    {% if num_cart_items > 0 %}
                                                        <div class="cart_circle">
                                                            {{ num_cart_items }}
                                                        </div>
                                                    {% endif %}
                                                </a></li>
                                            {% endif %}
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/header-bottom-->
            </header><!--/header-->

            <section id="slider"><!--slider-->
                <div class="container"  style="border:  0px solid; width: 100%; padding: 0px;">
                    <div class="row" style="border:  0px solid; width: 100%; padding: 0px; margin: 0px;">
                        <div class="col-sm-12" style="border:  0px solid; width: 100%; padding: 0px; margin: 0px;">
                            <div id="slider-carousel" class="carousel slide" data-ride="carousel" >
                                <ol class="carousel-indicators">
                                    <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#slider-carousel" data-slide-to="1"></li>
                                    <li data-target="#slider-carousel" data-slide-to="2"></li>
                                </ol>

                                <div class="carousel-inner" >
                                    {% for entity_specials_val in entity_specials %}

                                        <div class="item {% if entity_specials_val.specialOfferStatus == 2 %} active {% endif %} homebanner"
                                             style=" background: transparent url({{ asset('images/specialoffer/') }}/{{ entity_specials_val.specialOfferBanner }});">
                                            <div class="col-sm-6 homebanner_col" >
                                                <h1 style="margin-top:20px;"><span>{{ entity_specials_val.specialOfferTitle }}</span></h1>
                                                <h2>for Only ${{ entity_specials_val.specialOfferPrice }}</h2>
                                                <p>{{ entity_specials_val.specialOfferDescription }}</p>
                                                <button type="button" class="homebanner_btn btn btn-default get " >
                                                    <a href="{{path('front_office_user_homepage') }}" style="color: #FFF;">
                                                        Order it now
                                                    </a>
                                                </button>
                                            </div>

                                        </div>
                                    {% endfor %}


                                </div>

                                <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </section><!--/slider-->

            <section style="border: 0px solid #fff; margin-top: -40px;">
                <div class="container" style="background: #000;">
                    <div class="row"  >

                        <div class="col-sm-12 padding-right">
                            {% if entity_fav %}
                                <div class="features_items"><!--features_items-->
                                    <h2 class="title text-center">My Favorites</h2>
                                    {% for entity_fav_val in entity_fav %}
                                        <div class="col-sm-3">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <img src="{{ asset('images/dish/') }}/{{ entity_fav_val.image }}" alt="" />
                                                        <h2>${{ entity_fav_val.price }}</h2>
                                                        <p>{{ entity_fav_val.name }}</p>
                                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                        <div class="choose">
                                                            <ul class="nav nav-pills nav-justified">
                                                                <li><a href="{{path('front_office_user_dish', {'id': entity_fav_val.dishId})  }}"><i class="fa fa-plus-square"></i>Dish Detail</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="product-overlay">
                                                        <div class="overlay-content">
                                                            <h2>${{ entity_fav_val.price }}</h2>
                                                            <p>{{ entity_fav_val.name }}</p>
                                                            <a href="{{path('front_office_user_dish', {'id': entity_fav_val.dishId})  }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                            <div class="choose">
                                                                <ul class="nav nav-pills nav-justified">
                                                                    <li><a href="{{path('front_office_user_dish', {'id': entity_fav_val.dishId})  }}" style="color: #FFF;"><i class="fa fa-plus-square"></i>Dish Detail</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    {% endfor %}


                                </div><!--features_items-->
                            {% endif %}
                            <div style="height: 50px;">&nbsp;</div>
                            {% if entity_cate %}
                                <div class="category-tab"><!--category-tab-->

                                    <div class="tab-content">
                                        <div class="tab-pane fade active in" >
                                            {% for entity_cate_val in entity_cate %}
                                                <div class="col-sm-4">
                                                    <div class="product-image-wrapper">
                                                        <div class="single-products">
                                                            <div class="productinfo text-center">
                                                                <img src="{{ asset('images/dish/') }}/{{ entity_cate_val.image }}" alt="" />
                                                                <!-- <h2>$56</h2>-->
                                                                <p>{{ entity_cate_val.catName }} </p>
                                                                <a href="{{path('front_office_user_dishesbycat', {'id': entity_cate_val.categoryId})  }}" class="btn btn-default add-to-cart"><i class="fa fa-cogs"></i>More</a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                        </div>





                                    </div>

                                </div><!--/category-tab-->
                            {% endif %}


                        </div>
                    </div>
                </div>
            </section>

            <footer id="footer"><!--Footer-->
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="companyinfo" style="opacity:0.5;">
                                    <a href="{{path('su_front_office_homepage') }}"><img src="{{ asset('images/home/logo.png') }}" alt=""  /></a>
                                </div>
                            </div>

                            <div class="col-sm-5" >
                                <div class="companyinfo" style="margin-top:40px;">
                                    <form action="#" class="searchform"  >
                                        <div style="display:inline; color:#fff;" >Newsletter: &nbsp;</div>
                                        <div style="display:inline" >
                                            <input type="text" placeholder="Your email address here" />
                                        </div>
                                        <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>

                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-3" >
                                <div class="companyinfo social-icons ">
                                    <ul class="nav navbar-nav" style="border-left:1px solid;margin-top:10px; ">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="footer-widget" >
                        <div class="container">
                            <div class="row">

                                <div class="col-sm-4">
                                    <div class="single-widget">
                                        <ul class="nav nav-pills nav-stacked">
                                            {% for entity_cat_val in entity_cat %}
                                                <li><a href="{{path('front_office_user_dishesbycat', {'id': entity_cat_val.categoryId}) }}"> {{ entity_cat_val.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="single-widget">
                                        <ul class="nav nav-pills nav-stacked">
                                            <li><a href="#">Menu</a></li>
                                            <li><a href="#">Promos</a></li>
                                            <li><a href="#">Packs</a></li>
                                            <li><a href="#">Order</a></li>
                                            <li><a href="#">Pay</a></li>
                                            <li><a href="#">Bills</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-sm-3 col-sm-offset-1">
                                    <div class="single-widget">
                                        <ul class="nav nav-pills nav-stacked">
                                            <li>We accept:</li>
                                        </ul>
                                    </div>
                                    <div style="display: inline-table; margin-right:8px;"><img src="{{ asset('images/pay/amex.png') }}" alt="" /></div>
                                    <div style="display: inline-table; margin-right:8px;"><img src="{{ asset('images/pay/paypal.png') }}" alt="" /></div>
                                    <div style="display: inline-table; margin-right:8px;"><img src="{{ asset('images/pay/visa.png') }}" alt="" /></div>
                                    <div style="display: inline-table; margin-right:8px;"><img src="{{ asset('images/pay/mastercard.png') }}" alt="" /></div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="foot_top">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6" style="width:100%;">
                                <div class="contactinfo">
                                    <ul class="nav nav-pills">
                                        <li><a href="#"><i class="fa fa-envelope"></i> contact@strappberry.com</a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i> 1-800-465-2194</a></li>
                                        <li><a href="#"><i class="fa fa-bookmark"></i> Somerville MA. US.</a></li>
                                        <li><a href="#"><i class="fa fa-barcode"></i> Notice of privacy</a></li>
                                        <li><a href="#"><i class="fa fa-warning"></i> Legal terms and conditions</a></li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <p >Copyright &copy; <script>document.write(new Date().getFullYear())</script> Chef Delivery. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>

            </footer><!--/Footer-->

        {% endblock %}


        {% block javascripts %}
            <script src="{{ asset('js/jquery.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/jquery.scrollUp.min.js') }}"></script>
            <script src="{{ asset('js/price-range.js') }}"></script>
            <script src="{{ asset('js/jquery.prettyPhoto.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>

            <script src="{{ asset('js/autocomplete-dishes.js') }}"></script>
            <script>
                var loader = "{{ asset('images/ajax-loader.gif') }}"; //link to the animated loader-small.gif
                var ROOT_URL = "{{ url('su_front_office_homepage')}}"; //your root URL, used in autocomplete-dishes.js file
            </script>
        {% endblock %}

    </body>
</html>
