{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Favorites'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<h1>Favorites</h1>

<form class="form-horizontal">
    <fieldset>        <div class="control-group">
            <label class="control-label">Favorites Id</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.favoritesId }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Client</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.favoriteClient }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Dish</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.favoriteDish }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Create date</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.favoriteCreatedate|date('Y-m-d H:i:s') }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Updatedate</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.favoriteLastupdate|date('Y-m-d H:i:s') }}</span>            </div>
        </div>    </fieldset>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('favorites') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <a class="btn btn-primary" href="{{ path('favorites_edit', { 'id': entity.favoritesId }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('favorites_delete', { 'id': entity.favoritesId }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle')|escape('js') }}');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>
{% endblock %}