<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ 'views.layout.bannersadmin'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ asset('bundles/jordillonchcrudgenerator/css/bootstrap.css') }}" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="{{ asset('bundles/jordillonchcrudgenerator/css/bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/jordillonchcrudgenerator/css/crud.css') }}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ asset('bundles/jordillonchcrudgenerator/images/favicon.ico') }}">
</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                {% block menu %}


                    <ul class="nav nav-list">
                        <li>
                            <a class="btn btn-primary" href="{{ path('fos_user_security_logout') }}">
                                Log Out
                            </a>
                        </li>
                        <li class="nav-header">Client Details</li>
                        <li><a href="{{ path('client') }}">Client</a> </li>
                        <li><a href="{{ path('front_office_user_payment') }}">Add Payment Details</a> </li>
                        <li><a href="{{ path('clientaddress') }}">Client Address</a> </li>
                        <li class="nav-header">Client Order</li>
                        <li><a href="{{ path('clientorder') }}">Client Order</a> </li>
                        <li class="nav-header">Dish Records</li>
                        <li><a href="{{ path('category') }}">Dish Category</a> </li>
                        <li><a href="{{ path('dish') }}">Dish</a> </li>

                    </ul>
                {% endblock %}
            {% endif %}
        </div>
        <div class="span10">
            <div class="container-fluid">
                {% for type, flashMessages in app.session.flashbag.all() %}
                    {% for flashMessage in flashMessages %}
                        <div class="alert alert-{{ type }}">
                            {{ flashMessage|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block page %}{% endblock %}
            </div>
        </div>
    </div>



</div>


<script src="{{ asset('bundles/jordillonchcrudgenerator/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/jordillonchcrudgenerator/js/bootstrap.js') }}"></script>

{% block javascript %}{% endblock %}
</body>
</html>
