{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'SiteConfig'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<h1>Site Config</h1>

<form class="form-horizontal">
    <fieldset>        <div class="control-group">
            <label class="control-label">Id</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.id }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Description</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.descr }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Tax Rate</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.taxrate }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Delivery Fees</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.deliveryfee }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Other Value</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.otherval }}</span>            </div>
        </div>       <div class="control-group">
            <label class="control-label">Create date</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.createDate|date('Y-m-d H:i:s') }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Last Update</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.lastUpdate|date('Y-m-d H:i:s') }}</span>            </div>
        </div>    </fieldset>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('siteconfig') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <a class="btn btn-primary" href="{{ path('siteconfig_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('siteconfig_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle')|escape('js') }}');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>
{% endblock %}