<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
     <title>{% block title %}Signup - Confirm Email | Chef Delivery{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/prettyPhoto.css') }}" rel="stylesheet">
        <link href="{{ asset('css/price-range.css') }}" rel="stylesheet">
        <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet">
        <link href="{{ asset('css/responsive.css') }}" rel="stylesheet">

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('cart.ico') }}" />
</head><!--/head-->

<body>

{% block body %}

<header id="header" style="border:0px solid; background:#000000;"><!--header-->
    
    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="{{path('su_front_office_homepage') }}"><img src="{{ asset('images/home/logo.png') }}" alt="" /></a>
                    </div>

                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">

                            {% for entity_cate_val in entity_cate %}
                                {# <p>{{ entity_cate_val.catName }} </p>#}
                                <li><a href="{{path('front_office_user_dishesbycat', {'id': entity_cate_val.categoryId})  }}">{{ entity_cate_val.catName }}</a></li>

                            {% endfor %}



                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="col-sm-3">
                        <div class="search_box pull-left">
                            <input type="text" placeholder="Search" id="myTextField"/>
                            <div id="match" style="border: 0px solid #fff;"></div>
                        </div>
                    </div>
                    <div class="mainmenu pull-right">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li> <a href="{{ path('front_office_user_stores') }}"  class="active"> Stores</a> </li>
                            <li> <a href="{{ path('front_office_user_homepage') }}"  class="active"> Dish Categories</a> </li>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li class="dropdown">
                                    <a 
                                        {% if is_granted('ROLE_ADMIN') %}
                                            href="{{ path('client') }}"
                                        {% endif %}
                                    ><i class="fa fa-angle-down"></i>
                                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                                    </a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="{{ path('front_office_user_basket') }}"><i class="fa fa-shopping-cart" style="font-size: 22px; margin-top: -3px;"></i>
                                                My Cart&nbsp;&nbsp;
                                                {% if num_cart_items > 0 %}
                                                    <div class="cart_circle">
                                                        {{ num_cart_items }}
                                                    </div>
                                                {% endif %}
                                            </a></li>
                                            {#    <li><a href="{{ path('client') }}"><i class="fa fa-users"></i>Admin Panel</a></li>#}
                                        <li><a href="#"><i class="fa fa-star"></i> My Favorites</a></li>
                                        <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i> My Account</a></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-lock"></i> Logout</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li><a href="{{ path('fos_user_security_login') }}" class="active"><i class="fa fa-lock"></i> Login </a></li>
                                <li><a href="{{ path('front_office_user_basket') }}" ><i class="fa fa-shopping-cart" style="font-size: 22px; margin-top: -3px;"></i>
                                        {% if num_cart_items is defined %}
                                            <div class="cart_circle">
                                                {{ num_cart_items }}
                                            </div>
                                        {% endif %}
                                    </a></li>
                                {% endif %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->


<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-4">
					<div class="login-form"><!--login form-->
						<h2>Signup - Confirm Email</h2>
                       {% block fos_user_content %}
                      
                        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
                            {% if app.session is not empty %}
                                {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
                                {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
                            {% endif %}
                        {% endblock fos_user_content %}
                    </div><!--/login form-->
				</div>
				
			</div>
		</div>
	</section><!--/form-->
	

<footer id="footer"><!--Footer-->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="companyinfo" style="opacity:0.5;">
                        <a href="{{path('su_front_office_homepage') }}"><img src="{{ asset('images/home/logo.png') }}" alt=""  /></a>
                    </div>
                </div>

                <div class="col-sm-5" >
                    <div class="companyinfo" style="margin-top:40px;">
                        <form action="#" class="searchform"  >
                            <div style="display:inline; color:#fff;" >Newsletter: &nbsp;</div>
                            <div style="display:inline" >
                                <input type="text" placeholder="Your email address here" />
                            </div>
                            <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>

                        </form>
                        <br /><br />
                    </div>
                </div>
                <div class="col-sm-3" >
                    <div class="companyinfo social-icons ">
                        <ul class="nav navbar-nav" style="border-left:1px solid;margin-top:10px; ">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-widget" >
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="single-widget">
                            <ul class="nav nav-pills nav-stacked">
                                {% for entity_cat_val in entity_cat %}
                                    <li><a href="{{path('front_office_user_homepage') }}{{entity_cat_val.categoryId}}"> {{ entity_cat_val.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="single-widget">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Menu</a></li>
                                <li><a href="#">Promos</a></li>
                                <li><a href="#">Packs</a></li>
                                <li><a href="#">Order</a></li>
                                <li><a href="#">Pay</a></li>
                                <li><a href="#">Bills</a></li>
                            </ul>
                        </div>
                    </div>
                                
                    <div class="col-sm-3 col-sm-offset-1">
                        <div class="single-widget">
                            <ul class="nav nav-pills nav-stacked">
                                <li>We accept:</li>
                            </ul>
                        </div>
                        <div style="display: inline-table; margin-right:8px;"><img src="{{ asset('images/pay/amex.png') }}" alt="" /></div>
                        <div style="display: inline-table; margin-right:8px;"><img src="{{ asset('images/pay/paypal.png') }}" alt="" /></div>
                        <div style="display: inline-table; margin-right:8px;"><img src="{{ asset('images/pay/visa.png') }}" alt="" /></div>
                        <div style="display: inline-table; margin-right:8px;"><img src="{{ asset('images/pay/mastercard.png') }}" alt="" /></div>
                       
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="foot_top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6" style="width:100%;">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-envelope"></i> contact@strappberry.com</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i> 1-800-465-2194</a></li>
                            <li><a href="#"><i class="fa fa-bookmark"></i> Somerville MA. US.</a></li>
                            <li><a href="#"><i class="fa fa-barcode"></i> Notice of privacy</a></li>
                            <li><a href="#"><i class="fa fa-warning"></i> Legal terms and conditions</a></li>

                        </ul>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright &copy; <script>document.write(new Date().getFullYear())</script> Chef Delivery. All Rights Reserved.</p>
            </div>
        </div>
    </div>

</footer><!--/Footer-->

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/jquery.scrollUp.min.js') }}"></script>
    <script src="{{ asset('js/price-range.js') }}"></script>
    <script src="{{ asset('js/jquery.prettyPhoto.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}

</body>
</html>