<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Billing Address | Chef Delivery{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/prettyPhoto.css') }}" rel="stylesheet">
            <link href="{{ asset('css/price-range.css') }}" rel="stylesheet">
            <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
            <link href="{{ asset('css/main.css') }}" rel="stylesheet">
            <link href="{{ asset('css/responsive.css') }}" rel="stylesheet">

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('cart.ico') }}" />
    </head><!--/head-->

    <body>

        {% block body %}

            <header id="header" style="border:0px solid; background:#000000;"><!--header-->

                <div class="header-middle"><!--header-middle-->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="logo pull-left">
                                    <a href="../../"><img src="{{ asset('images/home/logo.png') }}" alt="" /></a>
                                </div>

                            </div>
                            <div class="col-sm-8">
                                <div class="shop-menu pull-right">
                                    <ul class="nav navbar-nav">
                                        {% for entity_cat_val in entity_cat %}
                                            {# <p>{{ entity_cate_val.catName }} </p>#}
                                            <li><a href="{{path('front_office_user_dishesbycat', {'id': entity_cat_val.categoryId})  }}"> {{ entity_cat_val.name }}</a></li>
                                                {# <li><a href="{{path('front_office_user_dishesbycat', {'id': entity_cate_val.categoryId})  }}">{{ entity_cate_val.catName }}</a></li>#}
                                            {% endfor %}                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/header-middle-->

                <div class="header-bottom"><!--header-bottom-->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="col-sm-3">
                                    <div class="search_box pull-left">
                                        <input type="text" placeholder="Search" id="myTextField"/>
                                        <div id="match" style="border: 0px solid #fff;"></div>
                                    </div>
                                </div>
                                <div class="mainmenu pull-right">
                                    <ul class="nav navbar-nav collapse navbar-collapse">
                                        <li> <a href="{{ path('front_office_user_stores') }}"  class="active"> Stores</a> </li>  
                                        <li> <a href="{{ path('front_office_user_homepage') }}"  class="active"> Dish Categories</a> </li> 
                                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                            <li class="dropdown">
                                                <a 
                                                    {% if is_granted('ROLE_ADMIN') %}
                                                        href="{{ path('client') }}"
                                                    {% endif %}
                                                ><i class="fa fa-angle-down"> </i>
                                                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                                                </a>
                                                <ul role="menu" class="sub-menu">
                                                    <li><a href="#"><i class="fa fa-shopping-cart"></i> My Cart</a></li>
                                                    <li><a href="#"><i class="fa fa-star"></i> My Favorites</a></li>
                                                   {# <li><a href="{{ path('client') }}"><i class="fa fa-users"></i>Admin Panel</a></li>#}
                                                    <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i> My Account</a></li>
                                                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-lock"></i> Logout</a></li>
                                                </ul>
                                            </li>
                                            {% else %}
                                            <li><a href="{{ path('fos_user_security_login') }}" class="active"><i class="fa fa-lock"></i> Login </a></li>
                                            <li><a href="#" ><i class="fa fa-shopping-cart"></i></a></li>
                                            {% endif %}   
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/header-bottom-->
            </header><!--/header-->

            <div style="height: 30px;"></div>
            <section id="cart_items">
                <div class="container">

                    <h2 class="title text-center">Billing Address</h2>

                    {% if app.session.flashBag.has('success') %}
                        <div class="alert alert-success" style="background-color: #ffffff;"> 
                            <i class="fa fa-check-square"></i>
                            {% for msg in app.session.flashBag.get('success') %}
                                {{ msg }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="col-sm-6" style="border: 0px solid; border-right:1px dashed #DFA71E; margin-bottom: 20px; margin-top: 20px; ">
                        <h3 class="title text-center" style="color: #DFA71E;">Create a Billing address</h3>
                        <form class="well" action="{{ path('front_office_user_createaddress') }}" method="post" {{ form_enctype(form) }} style="background:transparent; border:0px; color:#ffffff;">
                            {{ form_widget(form) }}
                            <div id="dvMap" style="width: 400px; height: 300px"><br>
                            </div>
                            <br>

                            <div style="border: 0px solid; margin-top: 10px; position: relative;">
                                <button type="submit" class="btn btn-success" style="background-color: #DFA71E; border: 0px;">{{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6" style="border: 0px solid; color: #ffffff;  margin-bottom: 20px; margin-top: 20px;  ">
                        <h3 class="title text-center" style="color: #DFA71E;">Existing Billing address</h3>
                        {% if mybillingaddresses %}
                            {% for mybillingaddresses_val in mybillingaddresses %}
                                <div class="col-sm-5" style="margin-top: 30px; background-color: #1B1B1B; 
                                     margin-right: 10px; padding: 20px; padding-bottom: 0px; border-radius: 10px; margin-left: 20px;">
                                    <div class="product-image-wrapper">
                                        {{mybillingaddresses_val.clientName}}<br />
                                        {{mybillingaddresses_val.address1}}<br />
                                        {{mybillingaddresses_val.city}}<br />
                                        {{mybillingaddresses_val.zipcode}}<br />
                                        {{mybillingaddresses_val.phone}}
                                    </div>
                                    <form  action="{{ path('front_office_user_setaddress') }}" method="post" {{ form_enctype(form) }} style="background:transparent; border:0px; color:#ffffff; display: inline; margin-right:5px;">
                                        <input  type="hidden" name="addressid" value="{{mybillingaddresses_val.id}}"/>
                                        <button type="submit" class="btn btn-success" style="background-color: #DFA71E; border: 0px;">Bill To</button>

                                    </form>
                                    <form  action="" method="post" {{ form_enctype(form) }} style="background:transparent; border:0px; color:#ffffff; display: inline;">
                                        <input  type="hidden" name="addressid" value="{{mybillingaddresses_val.id}}"/>
                                        <button type="submit" class="btn btn-success" style="background-color: #DFA71E; border: 0px;">Edit</button>

                                    </form>
                                    <br /><br />
                                </div>
                            {% endfor %}
                        {% else %}
                            You dont any billing address.
                        {% endif %}
                    </div>
                    <div class="table-responsive cart_info">




                        <table class="table table-condensed">
                            <thead>
                                <tr class="cart_menu">
                                    <td class="image" style="font-weight: bold;">Item</td>
                                    <td class="description" style="font-weight: bold;">Description</td>
                                    <td class="price" style="font-weight: bold;">Price</td>
                                    <td class="quantity" style="font-weight: bold;">Quantity</td>
                                    <td class="total" style="font-weight: bold;">Total</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entity_cart_val in entity_cart %}
                                    <tr>
                                        <td class="cart_product">
                                            <a href=""><img src="{{ asset('images/dish/') }}/{{ entity_cart_val.dish_image }}" alt="" style="width:150px; height:150px;"></a>
                                        </td>
                                        <td class="cart_description">
                                            <h4><a href="">{{ entity_cart_val.dish_name }}</a></h4>
                                            <p>Web ID: {{ entity_cart_val.dish_id }}</p>
                                        </td>
                                        <td class="cart_price">
                                            <p>$ {{ entity_cart_val.dish_price }}</p>
                                        </td>
                                        <td class="cart_quantity">
                                            <div class="cart_quantity_button">
                                                <form name="update_cart_item" id="update_cart_item" method="post" action="{{path('front_office_user_update_cart_item')}}" >
                                                    <input type="text" name="quantity" value="{{ entity_cart_val.qty }}" readonly="readonly" style="width: 60px;"/>

                                                    <input type="hidden" name="cartid" value="{{ entity_cart_val.cartid }}">
                                                </form>
                                            </div>
                                        </td>
                                        <td class="cart_total">
                                            <p class="cart_total_price">
                                                {% set total_price = entity_cart_val.dish_price * entity_cart_val.qty %}
                                                    $ {{ total_price }}</p>
                                            </td>
                                            <td class="cart_delete">
                                                    <!--<a class="cart_quantity_delete" href="{{path('front_office_user_removeitemfromcart', {'id': entity_cart_val.cartid})  }}"><i class="fa fa-times"></i></a>-->
                                            </td>
                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>


                                </div>
                                {% if entity_summ %}
                                    <div class="col-sm-12">
                                        <div class="total_area">
                                            <ul>
                                                <li><strong>CART SUB TOTAL</strong> <span>$ {{ entity_summ.sub_total }}</span></li>
                                                <li><strong>TAX</strong> <span>$ {{ entity_summ.tax }}</span></li>
                                                <li><strong>SHIPPING COST</strong> <span>$ {{ entity_summ.shipping_cost }}</span></li>
                                                <li><strong>TOTAL</strong> <span>$ {{ entity_summ.total }}</span></li>
                                            </ul>
                                            {#  <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                                                      <input type="hidden" name="cmd" value="_s-xclick">
                                                      <input type="hidden" name="hosted_button_id" value="6RNT8A4HBBJRE">
                                                      <input type='text' name='amount' value='{{ entity_summ.total }}'>
                                                      <input type="image" style="height: 70px;margin-left: 51px;"
                                                             src="https://ee-screenshots.s3.amazonaws.com/2016/08/paypal-express-checkout-logo.png"
                                                             border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                  
                                                  </form>#}


                                            <a class="btn btn-default update" href="{{path('front_office_user_basket') }}">BACK TO SHOPPING CART</a>
                                            {# <a class="btn btn-default check_out" id="btnShow" href="">PLACE ORDER</a>#}
                                            <input type="button" class="btn btn-default check_out" id="btnShow" value="Place Order" />

                                        </div>
                                    </div>
                                {% endif %}
                            </div>

                        </section>

                        <footer id="footer"><!--Footer-->
                            <div class="footer-top">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="companyinfo" style="opacity:0.5;">
                                                <img src="{{ asset('images/home/logo.png') }}" alt=""  />
                                            </div>
                                        </div>

                                        <div class="col-sm-5" >
                                            <div class="companyinfo" style="margin-top:40px;">
                                                <form action="#" class="searchform"  >
                                                    <div style="display:inline; color:#fff;" >Newsletter: &nbsp;</div>
                                                    <div style="display:inline" >
                                                        <input type="text" placeholder="Your email address here" />
                                                    </div>
                                                    <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>

                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" >
                                            <div class="companyinfo social-icons ">
                                                <ul class="nav navbar-nav" style="border-left:1px solid;margin-top:10px; ">
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="footer-widget" >
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="single-widget">
                                                    <ul class="nav nav-pills nav-stacked">
                                                        {% for entity_cat_val in entity_cat %}
                                                            <li><a href="{{path('front_office_user_dishesbycat', {'id': entity_cat_val.categoryId})  }}"> {{ entity_cat_val.name }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="single-widget">
                                                    <ul class="nav nav-pills nav-stacked">
                                                        <li><a href="#">Menu</a></li>
                                                        <li><a href="#">Promos</a></li>
                                                        <li><a href="#">Packs</a></li>
                                                        <li><a href="#">Order</a></li>
                                                        <li><a href="#">Pay</a></li>
                                                        <li><a href="#">Bills</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                
                                            <div class="col-sm-3 col-sm-offset-1">
                                                <div class="single-widget">
                                                    <ul class="nav nav-pills nav-stacked">
                                                        <li>We accept:</li>
                                                    </ul>
                                                </div>
                                                <div style="display: inline-table; margin-right:8px;"><img src="{{ asset('images/pay/amex.png') }}" alt="" /></div>
                                                <div style="display: inline-table; margin-right:8px;"><img src="{{ asset('images/pay/paypal.png') }}" alt="" /></div>
                                                <div style="display: inline-table; margin-right:8px;"><img src="{{ asset('images/pay/visa.png') }}" alt="" /></div>
                                                <div style="display: inline-table; margin-right:8px;"><img src="{{ asset('images/pay/mastercard.png') }}" alt="" /></div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="foot_top">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-6" style="width:100%;">
                                            <div class="contactinfo">
                                                <ul class="nav nav-pills">
                                                    <li><a href="#"><i class="fa fa-envelope"></i> contact@strappberry.com</a></li>
                                                    <li><a href="#"><i class="fa fa-phone"></i> 1-800-465-2194</a></li>
                                                    <li><a href="#"><i class="fa fa-bookmark"></i> Somerville MA. US.</a></li>
                                                    <li><a href="#"><i class="fa fa-barcode"></i> Notice of privacy</a></li>
                                                    <li><a href="#"><i class="fa fa-warning"></i> Legal terms and conditions</a></li>

                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="footer-bottom">
                                <div class="container">
                                    <div class="row">
                                        <p >Copyright &copy; <script>document.write(new Date().getFullYear())</script> Chef Delivery. All Rights Reserved.</p>
                                    </div>
                                </div>
                            </div>

                        </footer><!--/Footer-->

                        <div id="dialog" style="display: none" align = "center">

                            <form name="_xclick" style="margin-top: 39px;" action="https://www.sandbox.paypal.com/webscr" method="post">
                                <input type="hidden" name="cmd" value="_xclick">
                                <input type="hidden" name="business" value="hibran@strappberry.com">
                                <input type="hidden" name="currency_code" value="USD">
                                <input type="hidden" name="item_name" value="reesu.org">
                                <input type="hidden" name="return" value="http://www.example.com/paypal/success.php">
                                <input type="hidden" name="amount" value="{{ entity_summ.total }}">
                                <input type="image" style="    margin-left: -369px;
                                       margin-bottom: -52px;
                                       margin-top: 16px;" src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/gold-pill-paypal-34px.png" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
                            </form>



                            <form action="return.php" method="POST">
                                <p>SSL Certificate ($50)</p>
                                <script
                                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_test_ZAvblirrUl7Vvvbi1F6GJiy3"
                                    data-amount="{{ entity_summ.total }}"
                                    data-locale="us-en"
                                    data-name="SSL Certificate (Demo Product)"
                                    data-description="SSL Certificate description ($50)"
                                    
                                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                    data-locale="auto">
                                </script>
                            </form>
                            <form target="_blank" action="https://bitcoinpay.com/sci/invoice/generate/" method="post">
                                <input name="request_str" value="HXVHNV6To79Owtg-gsM_zI-pxkkIeMXX0eI8KXWETiiv_N3UzarYG5uPTE-HUo1TGpjEkdk7guAs90OVKJjLWPXN-easycf2lvRtlhaZAsZC7_fBZq4ajR7l3sJ2efl3S5YDsdyKo22I_cug-a8iKzfKC7WNCzW2dE-hFah-_ELQBhHfzs9EQznxyOamc9FT7iXM7KQy_lFhYyHCxq50zz5BObUrViGSnw==" type="hidden">
                                <input name="amount" value="{{ entity_summ.total }}" type="hidden">
                                <input name="currency" value="EUR" type="hidden">
                                 <input type="hidden" name="business" value="hibran@strappberry.com">
                                <input name="memo" value="Demo Payment" type="hidden">
                                <input src="https://bitcoinpay.com/static/img/btc-accepted-sm.png" style="margin-left: 373px;
                                       margin-top: -47px;" type="image">
                            </form>

                        </div>

                        {% endblock %}


                            {% block javascripts %}
                                <script src="{{ asset('js/jquery.js') }}"></script>
                                <script src="{{ asset('js/bootstrap.min.js') }}"></script>
                                <script src="{{ asset('js/jquery.scrollUp.min.js') }}"></script>
                                <script src="{{ asset('js/price-range.js') }}"></script>
                                <script src="{{ asset('js/jquery.prettyPhoto.js') }}"></script>
                                <script src="{{ asset('js/main.js') }}"></script>

                                <script src="{{ asset('js/autocomplete-dishes.js') }}"></script>
                                <script>
                                            var loader = "{{ asset('images/ajax-loader.gif') }}"; //link to the animated loader-small.gif
                                            var ROOT_URL = "{{ url('su_front_office_homepage')}}"; //your root URL, used in autocomplete-dishes.js file
                                </script>
                                <script>
                                    function updateCartItem() {
                                        document.getElementById("update_cart_item").submit();
                                    }
                                </script>
                                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNFhzlT0isLUKQMZ1irTTNy_Q16aq5JbI&callback=initMap"
                                        async defer>

                                </script>
                                {#<script>
                                var map;
                                function initMap() {
                                    map = new google.maps.Map(document.getElementById('map'), {
                                        center: {lat: 22.7475104, lng: 78.1477958},
                                        zoom: 6
                                    });
                                
                                    var marker = new google.maps.Marker({
                                        position: {lat: 22.7475104, lng: 78.1477958},
                                        map: map,
                                        draggable: true,
                                        title: "Drag me!"
                                    });
                                    google.maps.event.addListener(marker, 'dragend', function(event) {
                                        document.getElementById("lat").value = this.getPosition().lat();
                                        document.getElementById("lng").value = this.getPosition().lng();
                                        document.getElementById("zoom").value = map.getZoom();
                                    });
                                }
                                </script>#}
                                {#<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>#}


                                <script type="text/javascript">
                                    if (navigator.geolocation) {
                                        navigator.geolocation.getCurrentPosition(function(p) {
                                            var LatLng = new google.maps.LatLng(p.coords.latitude, p.coords.longitude);
                                            var mapOptions = {
                                                center: LatLng,
                                                zoom: 14,
                                                mapTypeId: google.maps.MapTypeId.ROADMAP
                                            };
                                            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
                                            var marker = new google.maps.Marker({
                                                position: LatLng,
                                                draggable: true,
                                                map: map,
                                                title: "<div style = 'height:10px;width:200px'><b>Your location:</b><br />Latitude: " + p.coords.latitude + "<br />Longitude: " + p.coords.longitude
                                            });
                                    {#    
                                    document.getElementById("lat").value = p.coords.latitude;
                                    document.getElementById("lng").value = p.coords.longitude;
                                    document.getElementById("zoom").value = map.getZoom();
                                    google.maps.event.addListener(marker,'dragend', "click", function (e) {
        
                                    });
                                    #}
                                                document.getElementById("su_frontofficeuserbundle_billingaddress_address2").value = p.coords.latitude;
                                                document.getElementById("su_frontofficeuserbundle_billingaddress_nickname").value = p.coords.longitude;
                                                google.maps.event.addListener(marker, 'dragend', function(event)
                                                {
                                                    document.getElementById("su_frontofficeuserbundle_billingaddress_address2").value = this.getPosition().lat();
                                                    document.getElementById("su_frontofficeuserbundle_billingaddress_nickname").value = this.getPosition().lng();
                                                });

                                            });
                                        } else {
                                            alert('Geo Location feature is not supported in this browser.');
                                        }
                                </script>

                                <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
                                <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
                                <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css"
                                      rel="stylesheet" type="text/css" />
                                <script type="text/javascript">
                                    $(function() {
                                        $("#dialog").dialog({
                                            modal: true,
                                            autoOpen: false,
                                            title: "Order Now Pleace Select Payment Gateway",
                                            width: 512,
                                            height: 220
                                        });
                                        $("#btnShow").click(function() {
                                            $('#dialog').dialog('open');
                                        });
                                    });
                                </script>

                            {% endblock %}

                        </body>
                    </html>