<div class="span12">

    <table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Address1</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>City</th>
            <th>Zipcode</th>
            
            <th>Creationdate</th>
            <th>Updatedate</th>
            <th>{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('clientaddress_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.address1 }}</td>
            <td>{{ entity.address2 }}</td>
            <td>{{ entity.nickname }}</td>
            <td>{{ entity.city }}</td>
            <td>{{ entity.zipcode }}</td>
            
            <td>{% if entity.creationDate %}{{ entity.creationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.updateDate %}{{ entity.updateDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
        <a class="btn btn-mini" href="{{ path('clientaddress_show', { 'id': entity.id }) }}">
            {{ 'views.actions.show'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
        <a class="btn btn-mini" href="{{ path('clientaddress_edit', { 'id': entity.id }) }}">
            {{ 'views.actions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    </div>