{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Specialoffers'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<div class="row">

    <div class="span8">
        <h1>{{ 'views.index.list'|trans({'%entity%': 'Specialoffers'}, 'JordiLlonchCrudGeneratorBundle') }}</h1>
    </div>
    <div class="span2">
        {% if form_errors(filterForm) %}
        <div class="alert alert-block alert-error fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
        &nbsp;
    </div>
    <div class="span2">
        <div class="filters-right">
            <a class="btn dropdown-toggle" data-toggle="collapse" data-target="#filters">
                {{ 'views.index.filters'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                <span class="caret"></span>
            </a>
        </div>
    </div>

    <div class="span12">
        <div id="filters" class="collapse">

            <form class="well" action="{{ path('specialoffers') }}" method="get" {{ form_enctype(filterForm) }}>
                {{ form_row(filterForm.specialOffersId) }}
                {{ form_row(filterForm.specialOfferTitle) }}
                {{ form_row(filterForm.specialOfferDescription) }}
                {{ form_row(filterForm.specialOfferDish) }}
                {{ form_rest(filterForm) }}

                <p>
                    <button type="submit" name="filter_action" value="filter">{{ 'views.index.filter'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                    <button type="submit" name="filter_action" value="reset">{{ 'views.index.reset'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                </p>
            </form>
        </div>
    </div>

    <div class="span12">

    <table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Banner</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Dish</th>
            <th>Status</th>
            <th>Create date</th>
            <th>Last Update</th>
            <th>{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('specialoffers_show', { 'id': entity.specialOfferId }) }}">{{ entity.specialOfferId }}</a></td>

            <td><img src="{{ asset(vich_uploader_asset(entity, 'specialOfferBannerFile')) }}" alt="{{entity.specialOfferTitle }}-{{ entity.specialOfferBanner }}" width="200" /></td>
            <td>{{ entity.specialOfferTitle }}</td>
            <td>{{ entity.specialOfferDescription }}</td>
            <td>{{ entity.specialOfferPrice }}</td>
            <td>{{ entity.specialOfferDish }}</td>
            <td>{{ entity.specialOfferStatus }}</td>
            <td>{% if entity.specialOfferCreateDate %}{{ entity.specialOfferCreateDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.specialOfferLastupdate %}{{ entity.specialOfferLastupdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
        <a class="btn btn-mini" href="{{ path('specialoffers_show', { 'id': entity.specialOfferId }) }}">
            {{ 'views.actions.show'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
        <a class="btn btn-mini" href="{{ path('specialoffers_edit', { 'id': entity.specialOfferId }) }}">
            {{ 'views.actions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    </div>

    <div class="span4">
    {{ pagerHtml|raw }}
    </div>

        <div class="span8">
    <a class="btn btn-primary likepaginator" href="{{ path('special_offers_new') }}">
            {{ 'views.index.createnew'|trans({}, 'JordiLlonchCrudGeneratorBundle') }} Dish
        </a>
    </div>
    </div>

{% endblock %}