{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Specialoffers'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<h1>Special Offer</h1>

<form class="form-horizontal">
    <fieldset>        <div class="control-group">
            <label class="control-label">Special Offer Id</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.specialOfferId }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Title</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.specialOfferTitle }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Description</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.specialOfferDescription }}</span>            </div>
        </div>    
        <div class="control-group">
            <label class="control-label">Price</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.specialOfferPrice }}</span>            </div>
        </div>   
            <div class="control-group">
            <label class="control-label">Dish</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.specialOfferDish }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Banner</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.specialOfferBanner }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Status</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.specialOfferStatus }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Create date</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.specialOfferCreatedate|date('Y-m-d H:i:s') }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Last Update</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.specialOfferLastupdate|date('Y-m-d H:i:s') }}</span>            </div>
        </div>    </fieldset>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('specialoffers') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <a class="btn btn-primary" href="{{ path('specialoffers_edit', { 'id': entity.specialOfferId }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('specialoffers_delete', { 'id': entity.specialOfferId }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle')|escape('js') }}');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>
{% endblock %}