{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Token'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<h1>Token</h1>

<form class="form-horizontal">
    <fieldset>        <div class="control-group">
            <label class="control-label">Tokenid</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.tokenId }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Value</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.value }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Clientid</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.clientId }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Used</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.used }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Createdate</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.createDate|date('Y-m-d H:i:s') }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Lastupdate</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.lastUpdate|date('Y-m-d H:i:s') }}</span>            </div>
        </div>    </fieldset>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('token') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <a class="btn btn-primary" href="{{ path('token_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('token_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle')|escape('js') }}');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>
{% endblock %}